<div class="container pt-3">
    <div class="row">
        <div class="col" style="padding-right:20px; border-right: 1px solid #ccc;">
            <h4>Пользователи</h4>
            <%- include('./addition_cols/users', {edit: false}) %>
        </div>
        <div class="col" style="padding-right:20px; border-right: 1px solid #ccc;">
            <h4>Роли</h4>
            <%- include('./addition_cols/roles') %>
        </div>
        <div class="col">
            <h4>Суды</h4>
            <%- include('./addition_cols/courts') %>
        </div>
    </div>
</div>